body{
    margin: 0 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: white;
    background-color: #222;
    line-height: 1.5rem;
}

.container{
    background-color: pink;
    color: #222;
    margin: 25px 0;
}

h1{
    padding: 10px;
    padding-left: 15px;
}
.image{
    max-width: 150px;
    height: auto;
    width: 100%;
    float: left;
    padding: 0 20px 0 0;
}

dl{
    background-color: pink;
    font-size: 17.25px;
    font-weight: bold;
    color: #222;
    padding: 1px 15px 15px 15px;
    line-height: 20px;
}

dd{
    margin-left: 0px;
}